section {
  height: 8rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  border: .2rem solid black;
  font-size: 4rem;
  font-family: Verdana;

  &:hover {
    cursor: pointer;
  }
}

#square0, #square1, #square2 {
  border-top: none;
}

#square0, #square3, #square6 {
  border-left: none;
}

#square2, #square5, #square8 {
  border-right: none;
}

#square6, #square7, #square8 {
  border-bottom: none;
}

.winner-found {
  color: blue;
}


