section {
  height: 6.2rem;
  width: 6.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  border: 1px solid var(--blue-faded);
  font-size: 4rem;
  font-family: Verdana;
  color: var(--blue);

  &:hover {
    cursor: pointer;
  }
}

.o-class {
  color: var(--purple);
}

#square0, #square1, #square2 {
  border-top: none;
}

#square0, #square3, #square6 {
  border-left: none;
}

#square2, #square5, #square8 {
  border-right: none;
}

#square6, #square7, #square8 {
  border-bottom: none;
}

.winner-found {
  animation: winner-pulse 1s forwards;
}

.loser-found {
  animation: loser-pulse 1s forwards;
}

.draw-game {
  animation: draw-pulse 1s forwards;
}


@keyframes winner-pulse {
  0% {
    color: var(--winner-color-1);
  }

  50% {
    color: var(--winner-color-2);
  }

  100% {
    color: var(--winner-color-3);
  }
}

@keyframes loser-pulse {
  25% {
    color: var(--loser-color-1);
  }

  50% {
    color: var(--loser-color-2);
  }

  100% {
    color: var(--loser-color-3);
  }
}

@keyframes draw-pulse {
  0% {
    color: var(--loser-color-1);
    border-color: var(--loser-color-1);
  }

  20% {
    color: var(--transparent);
    border-color: var(--transparent);
  }

  50% {
    color: var(--loser-color-2);
    border-color: var(--loser-color-2);
  }

  70% {
    color: var(--transparent);
    border-color: var(--transparent);
  }

  100% {
    color: var(--loser-color-3);
    border-color: var(--loser-color-3);
  }
}
