<section id="top-panel">
  <button id="reset-score" (click)="resetScores()">
    <img src="./assets/images/reload.svg" alt="Clear Score"/>
    <span>Score</span>
  </button>

  <select name="chooseLevel" id="difficulty-selector" [(ngModel)]="currentLevel" (ngModelChange)="levelChange(currentLevel)">
    <option *ngFor="let mode of availableModes" [value]="mode.id">
      {{mode.level}}
    </option>
  </select>

  <button id="reset" (click)="clearBoard()">
    <img src="./assets/images/reload.svg" alt="Clear Board"/>
    <span>Clear</span>
  </button>
</section>

<main>
  <section id="blocker-style" [ngClass]="{'block-board' : !canClick}"></section>
  <app-square
      *ngFor="let value of board; index as i"
      [winner]="winner"
      [drawGame]="drawGame"
      [position]="i"
      [value]="value"
      (click)="makeHumanMove(i);">
  </app-square>
</main>

<section id="player-selection-area" >
  <div *ngIf="winner;else message">
    <h3 id="winner" [ngClass]="{ invisible: isBoardEmpty }">{{winner.text}}</h3>
  </div>
  <ng-template #message>
    <h3 id="first-move" [ngClass]="{ invisible: !isBoardEmpty }">Who Moves First?</h3>
  </ng-template>

  <div id="player-select">
    <section id="human-player-select">
      <img class="player-icon x-icon" alt="Human Player" *ngIf="currentLevel !== 3"
           [ngClass]="{
            'winning-icon': (winningPlayer === this.humanPlayer),
            'not-clickable': (!isBoardEmpty && !winningPlayer)
            }"
           (click)="onSelectHuman(1)" alt="Player 1" src="./assets/images/brain.svg"/>
      <img class="player-icon x-icon" *ngIf="currentLevel === 3"
           [ngClass]="{
            'winning-icon': (winningPlayer === 'X'),
            'not-clickable': (!isBoardEmpty && !winningPlayer)
            }"
           (click)="onSelectHuman(1)" src="./assets/images/brain.svg"/>

      <section class="score" *ngIf="currentLevel === 1 || currentLevel === 2">
        <section class="player-dot"
           [ngClass]="{
            'my-turn': (currentPlayer === this.humanPlayer && !winner && currentLevel !== 3)}">
          {{humanPlayer}}
        </section>
        <span style="text-decoration: underline">Score</span>
        <br>
        <span *ngIf="currentLevel === 1; else level2">{{humanScoreVsCompEasy}}</span>
        <ng-template #level2>{{humanScoreVsCompHard}}</ng-template>
      </section>

      <section class="score" *ngIf="currentLevel === 3">
        <section class="player-dot"
          [ngClass]="{
            'my-turn': (currentPlayer === 'X' && !winner && currentLevel === 3)}">
          X
        </section>
        <span style="text-decoration: underline">Score</span>
        <br>
        {{player1Score}}
      </section>
    </section>

    <section id="ai-player-select">
      <img class="player-icon o-icon" alt="Easy Opponent" *ngIf="currentLevel === 1"
           [ngClass]="{
            'winning-icon': (winningPlayer === aiPlayer),
            'not-clickable': (!isBoardEmpty && !winningPlayer)
            }"
           (click)="onStartGameAI()" src="./assets/images/robot.svg"/>
      <img class="player-icon o-icon" alt="Hard Opponent" *ngIf="currentLevel === 2"
           [ngClass]="{
            'winning-icon': (winningPlayer === aiPlayer),
            'not-clickable': (!isBoardEmpty && !winningPlayer)
            }"
           (click)="onStartGameAI()" src="./assets/images/einstein.svg"/>
      <img class="player-icon o-icon" alt="Player 2" *ngIf="currentLevel === 3"
           [ngClass]="{
            'winning-icon': (winningPlayer === 'O'),
            'not-clickable': (!isBoardEmpty && !winningPlayer)
            }"
           (click)="onSelectHuman(2)" src="./assets/images/brain-opp.svg"/>

      <section class="score" *ngIf="currentLevel === 1 || currentLevel === 2">
        <section class="player-dot"
                 [ngClass]="{
            'my-turn': (currentPlayer === this.aiPlayer && !winner && currentLevel !== 3)}">
          {{aiPlayer}}
        </section>
        <span style="text-decoration: underline">Score</span>
        <br>
        <span *ngIf="currentLevel === 1; else level2">{{aiScoreVsHumanEasy}}</span>
        <ng-template #level2>{{aiScoreVsHumanHard}}</ng-template>
      </section>

      <section class="score" *ngIf="currentLevel === 3">
        <section class="player-dot"
                 [ngClass]="{
            'my-turn': (currentPlayer === 'O' && !winner && currentLevel === 3)}">
          O
        </section>
        <span style="text-decoration: underline">Score</span>
        <br>
        {{player2Score}}
      </section>
    </section>
  </div>
</section>
