#top-panel {
  display: flex;
  margin: .8rem auto 1rem;
  width: 20rem;
  justify-content: space-between;
  align-items: center;

  #difficulty-selector {
    height: 1.7rem;
    width: 5.5rem;
    border-radius: .5rem;
    padding: 0 .5rem;
    background-color: var(--transparent);
    font-size: .8rem;

    /* removes default arrow */
    appearance: none;
    background-image:
      url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  }

  #reset-score {
    display: flex;
    height: 1.7rem;
    background: var(--aqua-faded);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 1.5rem;
    font-size: .8em;
    border: 1px var(--dark-blue-faded) solid;

    &:hover {
      background: var(--aqua);
    }

    img {
      width: .7rem;
      margin-right: .2rem;
    }
  }

  #reset-game {
    display: flex;
    border: none;
    height: 1.7rem;
    background-color: var(--teal-faded);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1.5rem;
    font-size: .8rem;
    border: 1px var(--dark-blue-faded) solid;

    &:hover {
      background: var(--teal);
    }

    img {
      width: .7rem;
      margin-right: .2rem;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 6.2rem 6.2rem 6.2rem;
  grid-gap: 0;
  justify-content: center;
  position: relative;
}

app-square {
  height: 6.2rem;

  .disabled {
    pointer-events: none;
  }
}

#blocker-style {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 40rem;
  z-index: -1;
  background: transparent;
}

.block-board {
  z-index: 1 !important;
}

.not-clickable {
  pointer-events: none;
}

#player-selection-area {
  margin: .8rem auto 1rem;
  width: 20rem;

  #first-move {
    text-align: center;
    margin: .8rem auto 0;
    color: var(--dark-blue);
    font-size: 1.5rem;
  }

  #winner {
    text-align: center;
    margin: .8rem auto 0;
    font-size: 1.5rem;

    animation: winner-msg-animation 1.5s forwards .2s;
  }

  .invisible {
    visibility: hidden;
  }

  #player-select {
    display: flex;

    .player-icon {
      margin-top: .5rem;
      padding: .5rem;
      cursor: pointer;
      width: 4.2rem;
      border: none;
      border-radius: 15%;
    }

    .x-icon {
      background-color: var(--blue-faded);

      &:hover {
        background-color: var(--blue);
      }
    }

    .o-icon {
      background-color: var(--purple-faded);

      &:hover {
        background-color: var(--purple);
      }
    }

    .winning-icon {
      background-color: rgba(248, 201, 36, 0.5);
      animation: wiggle 1s forwards;

      &:hover {
        background-color: rgba(248, 201, 36, 0.8);
      }
    }

    .losing-icon {
      background-color: var(--loser-faded);;

      &:hover {
        background-color: var(--loser);
      }
    }

    .not-a-win {
      background: transparent !important;
    }

    #human-player-select {
      flex: 1;
      display: flex;
      align-items: flex-start;
    }

    #ai-player-select {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      position: relative;
    }


    .score {
      margin: .3rem .6rem;
      text-align: center;
      font-size: 1.2rem;
      align-self: flex-end;
    }

    .draw-game-text {
      text-decoration: underline;
    }

    .player-dot {
      border-radius: 50%;
      border: .1rem black dotted;
      height: 1.2rem;
      width: 1.2rem;
      line-height: 1.3rem;
      text-align: center;
      margin: 0 auto;
      font-size: 1rem;
      font-weight: bold;
    }

    .my-turn {
      border: .1rem black dotted;
      animation: grow 900ms forwards;
    }
  }
}
