#top-panel {
  display: flex;
  margin: 0 auto 1rem;
  width: 20rem;
  justify-content: space-between;
  align-items: center;

  #difficulty-selector {
    border-radius: 1.5rem;
  }

  #reset-score {
    display: flex;
    background: var(--transparent-aqua);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1.5rem;

    img {
      width: .7rem;
      margin-right: .2rem;
    }
  }

  #reset {
    display: flex;
    background-color: var(--brighter-blue);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 1.5rem;

    img {
      width: .7rem;
      margin-right: .2rem;
    }
  }
}

main {
  display: grid;
  grid-template-columns: 6rem 6rem 6rem;
  grid-gap: 0;
  justify-content: center;
  position: relative;
}

app-square {
  height: 6rem;

  .disabled {
    pointer-events: none;
  }
}

#blocker-style {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 25rem;
  height: 40rem;
  z-index: -1;
  background: transparent;
}

.block-board {
  z-index: 1 !important;
}

.not-clickable {
  pointer-events: none;
}

#player-selection-area {
  margin: 0 auto 1rem;
  width: 20rem;

  #first-move {
    text-align: center;
    margin: 1rem auto 0;
    color: var(--dark-blue);
    font-family: "Roboto Light";
    font-size: 1.5rem;
  }

  #winner {
    text-align: center;
    margin: 1rem auto 0;
    font-family: "Roboto Light";
    font-size: 1.5rem;

    animation: winner-msg-animation 2s forwards .2s;
  }

  .invisible {
    visibility: hidden;
  }

  #player-select {
    display: flex;

    .player-icon {
      margin-top: .5rem;
      padding: .5rem;
      cursor: pointer;
      width: 4rem;
      border: 1px solid black;
      border-radius: 15%;
    }

    .x-icon {
      background-color: var(--brighter-blue);
    }

    .o-icon {
      background-color: var(--transparent-purple);
    }

    .winning-icon {
      background-color: rgba(248, 201, 36, 0.5);
      animation: wiggle 1s forwards;
    }

    .not-a-win {
      background: transparent !important;
    }

    #human-player-select {
      flex: 1;
      display: flex;
      align-items: flex-start;
    }

    #ai-player-select {
      flex: 1;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      position: relative;
    }


    .score {
      font-family: "Roboto Light";
      margin: .3rem .8rem;
      text-align: center;
      align-self: center;
    }

    .player-dot {
      border-radius: 50%;
      height: 2.1rem;
      width: 2.1rem;
      line-height: 2.1rem;
      text-align: center;
      bottom: 1rem;
      right: -.5rem;
      margin: 0 auto;
      font-size: 1.5rem;
    }

    .my-turn {
      animation: grow 950ms forwards;
    }
  }
}
