* {
  font-family: "Helvetica Neue";
  font-weight: lighter;
  --transparent-blue: rgba(45, 64, 87, 0.85);
  --dark-blue: rgba(45, 64, 87, 0.85);
  --brighter-blue: rgba(42, 116, 199, 0.6);
  --lighter-blue: rgba(42, 116, 199, 0.1);
  --transparent-purple: rgba(226, 59, 59, 0.6);
  --lighter-purple: rgba(226, 59, 59, 0.1);
  --transparent-green: rgba(140, 241, 25, 0.75);
  --transparent-aqua: rgba(93, 244, 249, 0.5);
  --lighter-transparent-aqua: rgba(93, 244, 249, 0.85);
  --winner-color-1: #332851;
  --winner-color-2: #9AE1E2;
  --winner-color-3: #F6C667;
  --loser-color-1: lightgrey;
  --loser-color-2: darkgrey;
  --loser-color-3: rgba(45, 64, 87, 0.4);
  --transparent: rgba(255, 255, 255, 50);
}

h2 {
  text-align: center;
  color: var(--dark-blue);
}

@keyframes grow {
  from {
    background-color: var(--transparent);
  }
  to {
    background-color: var(--transparent-green);
  }
}

@keyframes winner-msg-animation {
  0% {
    color: var(--winner-color-3);
  }

  33% {
    color: var(--winner-color-2);
  }

  66% {
    color: var(--brighter-blue);
  }

  100% {
    color: var(--winner-color-1);
  }
}

@keyframes wiggle {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
